:root {
  --morado-oscuro: #6652f1;
  --violeta: #9d8cff;
  --violeta-claro: #F2F0FF;
  --azul-oscuro: #14264C;
  --gris-bg: #F6F6F6;
  --gris-bg-claro: #FAFAFA;
  --gris-oscuro: #919191;
  --blanco: #fff;
  --verde-oscuro: #0C6A14;
  --verde-claro: #B3F5BA;
  --placeholder-color: #afafaf;
  --placeholder-letter-spacing: 0.5px;
  --color-borde: #c7c7cc85;
  --input-bg: #F6F6F6;
  --input-color: #666;
  --input-radius: 8px;
  --input-font-size: 16px;
  --input-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 1px inset;
  --input-shadow-focus-visible: 0 0 0 1px #6653f2 inset;
  --input-height: 40px;
  --input-padding: 10px 15px;
  --input-border: none;
  --h2-font-size: 25px;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0.5px;
  --font-size-30px: 30px;
  --font-size-28px: 28px;
  --font-size-22px: 22px;
  --font-size-20px: 20px;
  --font-size-18px: 18px;
  --font-size-16px: 16px;
  --font-size-15px: 15px;
  --font-size-15px: 14px;
  --boton-height: 40px;
  --boton-height-bajo: 36px;
  --boton-font-weight: 500;
  --boton-radius: 10px;
  --boton-font-size: 16px;
  --boton-padding: 2px 18px 0px;
  --boton-gris-bg: #EDEDED;
  --shadow-empezar: 0 1px 2px 0 rgb(0 0 20 / 8%), 0 2px 4px 0 rgb(0 0 20 / 8%);
  --sombra-fuerte: 0 0 2px 0 rgb(0 0 30 / 10%), 0 4px 8px 0 rgb(0 0 30 / 10%), 0 8px 16px 0 rgb(0 0 30 / 10%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}
body * {
  font-family: 'League Spartan', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
  font-size: var(--font-size-16px);
}
h1, h2, h3, h4, span, label {
  color: var(--azul-oscuro);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
}
h3, .ant-modal-title {
  font-size: var(--font-size-20px) !important;
  font-weight: 500 !important;
}
h4 {
  font-weight: 500 !important;
}
p {
  margin-bottom: 1.5em;
  margin-top: 0px;
  color: var(--azul-oscuro);
}
a, button {
  cursor: pointer;
}
a {
  color: var(--morado-oscuro);
}
a:hover {
  color: var(--violeta);
}
b, strong {
  font-weight: 600;
}
img {
  height: auto;
  max-width: 100%;
}
span.small {
  font-size: var(--font-size-15px);
  font-weight: normal;
}
.hidden {
  display: none !important;
}
.active {
  display: block !important;
}
.pointer {
  cursor: pointer;
}

/* Botones */
.botones, .ant-btn {
  height: var(--boton-height);
  padding: var(--boton-padding);
  border: none;
  border-radius: var(--boton-radius);
  font-weight: var(--boton-font-weight);
  font-size: var(--boton-font-size);
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.boton-violeta, .ant-btn {
  background-color: var(--morado-oscuro);
  border: none;
  color: #fff !important;
}
.ant-btn span {
  color: #fff;
}
.ant-btn.boton-gris span {
  color: var(--gris-oscuro);
}
.boton-violeta:hover, .ant-btn:hover {
  background-color: var(--azul-oscuro) !important;
}
.button-full, .ant-btn {
  padding: 0 20px;
  height: var(--boton-height-bajo);
  line-height: var(--boton-height-bajo);
}
.boton-border {
  background-color: var(--violeta-claro);
  padding: 3px 18px 0px;
  border-radius: var(--boton-radius);
  color: var(--morado-oscuro);
  font-weight: var(--boton-font-weight);
  font-size: var(--boton-font-size);
  border: 1px solid var(--morado-oscuro);
  height: var(--boton-height-bajo);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.boton-border:hover {
  background-color: var(--morado-oscuro);
  color: white;
}
.ant-btn {
  display: inline-flex;
  align-items: center;
  padding: 0px 20px;
}
.btn100 {
  width: 100%;
  text-align: center;
}
.order-action {
  margin-left: 20px;
  background-color: var(--gris-bg-claro);
  color: var(--gris-oscuro);
  border: 1px solid var(--gris-oscuro);
  height: var(--boton-height-bajo);
}
.order-action:hover {
  background-color: var(--gris-oscuro);
}
.primary-action {
  background-color: var(--violeta-claro);
  color: var(--morado-oscuro);
  border-color: var(--morado-oscuro);
}
.primary-action:hover {
  background-color: var(--morado-oscuro);
  color: #fff;
}
.red-button {
  background-color: #fff0f8;
  color: #b50000;
  border: 1px solid #b50000;
}
.red-button:hover {
  background-color: #b50000;
  color: #fff;
}
.eliminar-btn {
  background-color: #FF0000;
  color: white !important;
  border-color: #FF0000;
}
.eliminar-btn:hover {
  background-color: #b50000 !important;
  border-color: #b50000 !important;
}
.boton-gris {
  background-color: var(--gris-bg-claro);
  border: 1px solid var(--gris-oscuro);
  color: var(--gris-oscuro);
}
.boton-gris:hover {
  background-color: var(--boton-gris-bg) !important;
  border: 1px solid var(--gris-oscuro) !important;
}

/* Layout */
.maccount-container a {
  text-decoration: none;
}

/* Header */
.macc-header {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: var(--blanco);
}
.macc-header-col1 a {
  display: flex;
  align-items: center;
  color: var(--azul-oscuro);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.macc-header-col1 span {
  font-size: 22px;
}
.macc-header-col1 img {
  margin-right: 15px;
}
.macc-header-col2 {
  display: flex;
  flex: 0 0 70%;
  justify-content: flex-end;
  align-items: center;
}
.macc-header-col2 img {
  width: 30px;
}
.macc-head_analytics.macc-head_item {
  margin-left: 35px;
  margin-right: 35px;
}
.macc-head_home.macc-head_item {
  margin-right: 0;
}
a.new_head {
  margin: 1px 35px 0 0;
  font-weight: 500;
  color: var(--morado-oscuro);
  background-color: var(--violeta-claro);
  padding: 8px 13px 5px;
  border-radius: 50px;
  font-size: var(--font-size-15px);
}
a.new_head:hover {
    color: var(--violeta-claro);
    background: var(--morado-oscuro);
}
a.create-butt {
  background-color: var(--violeta-claro);
  padding: 10px 20px;
  font-size: var(--boton-font-size);
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  color: var(--morado-oscuro);
  border: 1px solid var(--morado-oscuro);
}
a.create-butt:hover {
  background-color: var(--morado-oscuro);
  color: var(--blanco);
  transition: 200ms;
}
a.feedback {
  position: fixed;
  right: -30px;
  top: 50%;
  transform: translate(0px, -50%) rotate(-90deg);
  color: var(--morado-oscuro);
  font-weight: 600;
  background-color: var(--violeta-claro);
  padding: 10px 14px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-size: var(--font-size-16px);
}
a.feedback:hover {
    color: var(--violeta-claro);
    background: var(--morado-oscuro);
}
.app-input.test_mode {
  margin-right: 30px;
}
.app-input.test_mode > span {
  margin: 4px 10px 0px 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  min-width: 37px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666678;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--morado-oscuro);
}
input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Sidebar */
.macc-sidebar {
  min-width: 190px;
  max-width: 190px;
  padding: 30px 20px 20px;
  height: calc(100vh - 55px);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.sidebar_top-row_items {
  margin: 0 -20px 30px 0;
}
.sidebar_top-row_items a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--azul-oscuro);
}
.sidebar_top-row_items a:hover, .sidebar_top-row_items a:hover span {
  color: var(--violeta);
}
.sidebar_top-row_items img {
  margin-right: 15px;
  width: 24px;
}
.sidebar_top-row_get-started img {
  width: 22px;
  margin-right: 18px;
}
.macc-sidebar_bottom-row {
  padding: 30px 20px 0 20px;
  border-top: 1px solid;
  border-color: rgba(199, 199, 204, 0.3);
  margin: 0 -20px;
}
.sidebar_top-row_account.sidebar_top-row_items {
  margin-bottom: 0;
}
a.active-head {
  border-right: 3px solid var(--morado-oscuro);
}
a.active-head span {
  color: var(--morado-oscuro);
}
.toggle-submenu {
  margin-bottom: 15px;
}
.toggle-submenu span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.toggle-submenu svg {
  padding-right: 14px;
  width: 30px;
}
.sub-menu {
  padding: 16px 0px 16px 40px !important;
}
.sub-menu .sidebar_top-row_items {
  margin-bottom: 20px;
}

/* Body */
.macc-body {
  display: flex;
  padding-top: 55px;
}
.macc-content {
  flex-grow: 1;
  padding: 30px;
  background-color: var(--gris-bg);
  margin-left: 190px;
  min-height: calc(100vh - 55px);
  color: var(--azul-oscuro);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* Login */
.login-container {
  padding: 80px 10px;
  height: 100vh;
  background: var(--violeta-claro);
}
.login-content {
  max-width: 570px;
  margin: auto;
  padding: 56px 48px;
  box-shadow: rgb(60 66 87 / 8%) 0px 15px 35px 0px, rgb(0 0 0 / 12%) 0px 5px 15px 0px;
  border-radius: 20px;
  background-color: var(--blanco);
}
.login-content img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.login-content h2 {
  text-align: center;
  margin-bottom: 30px;
}
.login-content input, .register-container input, .register-container select, .input input, .input select, .input textarea, .tabla-codigo td span {
  width: 100%;
  font-size: var(--input-font-size);
  background-color: var(--input-bg);
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);
  border: var(--input-border);
  height: var(--input-height);
  padding: var(--input-padding);
  color: var(--input-color);
}
.input textarea {
  height: auto;
}
::placeholder {
  color: var(--placeholder-color) !important;
  letter-spacing: var(--placeholder-letter-spacing);
}
input:focus-visible, select:focus-visible, textarea:focus-visible {
  box-shadow: var(--input-shadow-focus-visible);
  outline: none !important;
}
.app-input {
  display: flex;
  align-items: center;
  position: relative;
}
.app-input.popup-frecuencia {
  margin-bottom: 0px;
}
.btn-login-registro {
  width: 100%;
}
p.user-forgot-password {
  font-size: var(--font-size-16px);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 0px;
}
.forgot-email {
  text-align: center;
  font-size: var(--font-size-16px);
}
.forgot-email.active {
  margin-top: 20px;
}
.dont {
  text-align: center;
  color: var(--azul-oscuro);
  font-size: var(--font-size-18px);
  margin: 40px 0px 0px;
}
p.dont a, p.reg-priv a, p.why-text a {
  color: #6653F2;
  text-decoration: none;
  font-size: var(--font-size-18px);
}
p.dont a:hover, p.reg-priv a:hover, p.why-text a:hover {
  color: var(--violeta);
}

/* Register */
.register-container {
  display: flex;
  height: 100vh;
}
.register-col.register-col-1 {
  flex: 0 0 40%;
  background-color: var(--violeta);
  position: relative;
  display: flex;
  flex-direction: column;
}
.register-row-1 {
  flex: 0 0 50%;
  background-color: var(--morado-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 45px;
  text-align: center;
  color: white;
}
.img-quote-p {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: -30px;
}
.img-quote {
  display: block;
  width: 60px;
}
.reg-quote h3 {
  color: white;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.reg-quote small {
  opacity: 0.6;
  margin: 6px 0px 24px;
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 100;
}
.reg-quote p {
  color: #fff;
  font-size: var(--font-size-16px);
}
.register-row-2 {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--violeta);
}
.reg-cel {
  max-width: 400px;
  width: 70%;
}
.register-col.register-col-2 {
  flex: 0 0 60%;
  padding: 80px 8%;
}
.logo-registro {
  margin-bottom: 50px;
  display: block;
}
h2.c-ac-ti {
  margin-bottom: 10px;
}
p.reg-sub {
  color: var(--azul-oscuro);
  font-weight: 500;
  font-size: var(--font-size-20px);
}
.user-register {
  display: flex;
  align-items: center;
}
.user-register input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 10px;
}
span.treli-place {
  background-color: var(--input-bg);
  border-radius: var(--input-radius);
  height: var(--input-height);
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aff-code-register {
  color: var(--morado-oscuro);
  font-size: var(--font-size-18px);
  cursor: pointer;
  font-weight: 500;
}
.tiene-cuenta {
  text-align: left;
}
p.reg-priv {
  font-size: var(--font-size-18px);
}

/* Get started - Empezar */
.account-appe-container.get-started {
  max-width: 1000px;
  margin: auto;
  font-size: var(--font-size-15px);
}
.get-started-img-cont {
  position: relative;
  text-align: right;
  margin-top: 47px;
}
.get-started-img-cont img {
  width: 170px;
  margin-right: 51px;
  display: block;
  float: right;
}
.get-started-img-cont:after {
  content: "";
  display: block;
  clear: both;
}
.get-started-img-text {
  max-width: 450px;
  float: right;
  background-color: white;
  padding: 15px;
  text-align: left;
  margin-right: -28px;
  border: 3px solid var(--morado-oscuro);
  border-radius: 5px;
  margin-top: -29px;
}
.get-started_header {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: var(--shadow-empezar);
  margin-bottom: 40px;
}
.get-started_header h3 {
  margin-bottom: 20px;
}
.started-tasks {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
span.tasks-bar-container {
  border: 1px solid var(--morado-oscuro);
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  margin-left: 30px;
  background-color: var(--violeta-claro);
}
span.tasks-bar-full {
  background-color: var(--morado-oscuro);
  padding: 3px 0px;
  border-radius: 20px;
  color: white;
}
.get-started_step-container {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: var(--shadow-empezar);
}
.get-started_step-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.get-started_step-title.step-active {
  background-color: var(--violeta-claro);
}
.step-title_col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
span.step-toggle {
  font-size: 20px;
  border: 1px solid var(--morado-oscuro);
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  border-radius: 5px;
  color: var(--morado-oscuro);
  margin-top: -2px;
}
h4.step-title_name {
  margin: 0;
  margin-left: 20px;
  font-weight: 500;
  font-size: var(--font-size-20px);
}
span.steps-completed, .steps-remaining {
  margin: 0px 5px;
}
.get-started_step-content {
  padding: 18px 20px;
}
.get-started_step {
  margin-bottom: 30px;
}
.get-started_step:last-child {
  margin-bottom: 6px;
}
.check-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.get-started_step .check-container {
  display: flex;
  font-size: 14px;
}
span.check-container-text {
  display: flex;
  flex-direction: column;
}
span.check-container-text_title {
  font-size: var(--font-size-20px);
  font-weight: 500;
  margin-bottom: 4px;
}
.get-started_step .but-purp-style {
  max-width: 200px;
  margin: 20px 0 0 0;
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0 !important;
  width: 0 !important;
}
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #808080;
  border-radius: 5px;
}
.ant-modal-body .checkmark {
  top: -4px;
}
.check-container input:checked ~ .checkmark {
  background-color: var(--morado-oscuro);
  border-color: var(--morado-oscuro);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate( 45deg);
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}
.aprendemas {
  color: var(--morado-oscuro);
}
.aprendemas:hover {
  color: var(--violeta);
  text-decoration: underline;
}

/* Orders - Pagos */
.plist-head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paid-on {
  padding-top: 2px;
}
.plist-head-titlecol1 {
  display: flex;
  align-items: center;
}
.plist-head-title h2 {
  margin: 0px 20px 0px 0px;
}
.plist-head-row1 {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 15px;
  align-items: center;
  font-size: var(--font-size-15px);
}
.plist-status, .status-filter {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  box-sizing: border-box;
}
.subs-container.olist-container .status-filter div {
  flex: 1;
}
.plist-status div, .status-filter div, .settings-head a {
  flex: 0 0 25%;
  text-align: center;
  background-color: white;
  height: 36px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--placeholder-color);
  cursor: pointer;
}
.pagos .status-filter div {
  flex: 0 0 20%;
}
.plist-status .plist-activestyle, .status-filter .plist-activestyle {
  background-color: var(--morado-oscuro);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}
.status-filter div:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.status-filter div:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.plist-search {
  flex-grow: 1;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
}
input#psearch {
  flex-grow: 1;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: var(--input-color);
  padding: 0 10px 0 10px;
  line-height: 22.5px;
  margin-top: 1px;
}
.plist-but, .search-but {
  margin: 1px 0px 0px 10px;
  min-width: 90px;
}
.plist-head-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plist-actions {
  flex: 0 0 29%;
  display: flex;
  padding-right: 2%;
  box-sizing: border-box;
}
.plist-head-row1 input, .plist-head-row1 select, .plist-head-row2 input, .plist-head-row2 select {
  flex-grow: 1;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 10px;
  color: var(--placeholder-color);
  padding: 0 15px 0 15px;
  margin-top: 1px;
  font-size: var(--input-font-size);
}
select#bulkactions {
  width: 100%;
  flex-grow: 1;
}
.plist-filter-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.plist-type, .plist-avail, .plist-tag {
  flex: 0 0 29%;
  padding-right: 10px;
}
.subs-container .plist-type.filter-search {
  flex: 0 0 33%;
  display: flex;
}
.plist-but.plist-but-filter {
  flex-grow: 1;
  display: flex;
  text-align: center;
}
.order-list-container {
  margin-top: 30px;
}
.ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: #fff !important;
}
.ant-table-thead >tr>th {
  background-color: #fff !important;
  border-bottom: none !important;
}
.ant-table-tbody >tr >td {
  border: none !important;
  cursor: pointer;
}
tr.ant-table-row:hover>td:first-child, tr.ant-table-row.ant-table-row-selected>td:first-child {
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px  !important;
}
tr.ant-table-row:hover>td:last-child, tr.ant-table-row.ant-table-row-selected>td:last-child {
  border-start-end-radius: 0px !important;
  border-end-end-radius: 0px !important;
}
.ant-table {
  border-radius: 14px 14px 0 0 !important;
}
.ant-table-container table>thead>tr:first-child >*:first-child {
  border-start-start-radius: 14px !important;
}
.ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius: 14px !important;
}
.ant-table-wrapper .ant-table {
  color: var(--azul-oscuro) !important;
  border-radius: 14px !important;
}
th.ant-table-cell {
  font-weight: 500 !important;
}
.ant-table-row:nth-child(odd) {
  background-color: var(--gris-bg-claro) !important;
}
.ant-table-row:hover, tr.ant-table-row:hover>td, tr.ant-table-row-selected >td {
  background-color: var(--violeta-claro) !important;
  transition: 100ms;
}
td.ant-table-cell a, td.ant-table-cell a:hover, .texto-link {
  text-decoration: underline !important;
  color: var(--morado-oscuro);
}
label.ant-checkbox-wrapper {
  padding-left: 10px;
}
.ant-pagination .ant-pagination-item a {
  padding: 6px 4px 0px;
  border-radius: 30px;
}
li.ant-pagination-prev button, li.ant-pagination-next button {
  padding: 6px 0px 0px !important;
}
.ant-pagination .ant-pagination-item-active, .ant-pagination .ant-pagination-item-active:hover {
  border-color: var(--morado-oscuro);
  background-color: var(--violeta-claro);
}
.ant-pagination .ant-pagination-item-active a, .ant-pagination .ant-pagination-item-active:hover a {
  color: var(--morado-oscuro);
}
.ant-table-cell.estado span, .status-style {
  padding: 4px 20px;
  border-radius: 8px;
  width: 110px;
  display: block;
  text-align: center;
  font-size: var(--font-size-15px);
  margin-left: -10px;
  background-color: var(--boton-gris-bg);
  color: var(--gris-oscuro);
  border: 1px solid;
}
.head-status.status-subs, .status-auto {
  width: auto;
}
.estado.status-processing span, .head-status.status-processing {
  background-color: var(--verde-claro);
  color: var(--verde-oscuro);
  border-color: var(--verde-oscuro);
  border: 1px solid;
}
.estado.dunning-status span, .head-status.dunning-status {
  background-color: #fff7e6;
  color: #763b24;
  border-color: #763b24;
  border: 1px solid;
}
.estado.status-cancelled span, .head-status.status-cancelled {
  background-color: #FF9494;
  color: #510B0B;
}
.estado.status-hold span, .head-status.status-hold {
  background-color: #FFE494;
  color: #51390B;
}

/* Orders - Pagos Detalle */
.note-item {
  background-color: var(--gris-bg-claro);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}
.note-item:last-child {
  margin-bottom: 0;
}
p.note-time {
  margin-top: 10px !important;
  color: #BBBBBB;
}
.order-notes h3 {
  margin-bottom: 20px;
}
.subs-timeline .order-box {
  padding-bottom: 20px;
}
a.subs-number1 {
  font-size: var(--font-size-18px);
}
.subs-timeline p {
  margin-top: 10px !important;
}

/* Crear pago */
.item-c-title {
  margin-bottom: 15px;
  display: block;
}
.item-list-results {
  width: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px #d6d6e6;
  min-width: 100%;
  z-index: 1;
}
.item-list-results a {
  display: flex;
  border-bottom: 1px solid var(--color-borde);
  align-items: center;
  color: var(--azul-oscuro);
  padding: 15px 20px;
  justify-content: space-between;
}
.item-list-results a:last-child {
  border-bottom: none;
}
.item-list-results a:hover {
  background-color: var(--violeta-claro);
}
.custom_item input {
  margin-bottom: 10px;
}
.actions {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-top: 10px;
}
.actions.active {
  display: flex !important;
}
.actions button {
  margin-left: 15px;
}
table.payment-history {
  text-align: left;
  margin: 0;
  border-collapse: collapse;
  width: 100%;
}
.payment-history tr {
  border-bottom: 1px solid var(--color-borde);
}
.payment-history tr:last-child, .payment-history tr:first-child {
  border-bottom: none;
}
.long_th {
  width: 50%;
}
.payment-history td, .payment-history th {
  padding: 8px;
}
.payment-history th {
  font-weight: 500;
}
.flex.item_resume {
  margin-bottom: 10px;
  margin-top: 20px;
}
.payment-settings-r label.check-container {
  margin-bottom: 0px !important;
}
.payment-settings-r input {
  margin-right: 10px;
}
.payment-settings-r p {
  margin-bottom: 10px;
}
.payment-settings-r p.app-input.input {
  margin-top: 20px;
}
.payment-settings-r > div {
  border-bottom: 1px solid var(--color-borde);
  padding-bottom: 7px;
  margin-bottom: 20px;
}
.payment-settings-r > div:last-child {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Suscripciones */
.estados-suscripciones {
  flex: 1;
  padding-right: 0;
}
.subs-container .plist-type, .status-filter .plist-avail {
  flex: 0 0 40%;
  padding-right: 10px;
}
.suscripciones .plist-avail.search-customer-c {
  flex-grow: 1;
}
.order-list-paginate {
  display: flex;
  align-items: center;
}
.paginate, .numorders {
  margin-top: 30px;
}
.paginate {
  display: flex;
  align-items: center;
}
.numorders {
  margin-right: 40px;
}
.paginate-perv, .paginate-next {
  background-color: var(--violeta-claro);
  border: 1px solid var(--morado-oscuro);
  color: var(--morado-oscuro);
  width: 48px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.paginate-perv:hover, .paginate-next:hover {
  background-color: var(--morado-oscuro);
  color: #fff;
}
.ofofof {
  font-size: var(--font-size-16px);
  margin: 6px 15px 0px;
}

/* Suscripción detalle */
.order-head {
  display: flex;
  align-items: center;
}
.status-style {
  margin: -6px 0px 0px 20px;
}
.order-head-paid {
  display: flex;
  align-items: center;
  margin: 20px 0px 25px;
}
a.order-back {
  background-color: var(--violeta-claro);
  width: 48px;
  text-align: center;
  height: 36px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px 20px 0 0;
  border: 1px solid var(--morado-oscuro);
}
a.order-back:hover {
  background-color: var(--morado-oscuro);
  color: #fff;
}
a.order-back svg {
  font-size: 40px;
  color: var(--morado-oscuro);
}
a.order-back:hover svg {
  color: #fff;
}
.new-product-cols {
  display: flex;
}
.new-product-col1 {
  flex: 0 0 60%;
  margin-right: 15px;
}
.subscription-order .new-product-col1 {
  flex: 0 0 65%;
  min-width: 0;
}
.new-product-col2 {
  position: sticky;
  top: 95px;
  align-self: flex-start;
  flex-grow: 1;
  margin-left: 15px;
}
.order-box-container {
  background-color: white;
  border-radius: 15px;
  padding: 20px 25px;
}
.margin-bottom {
  margin-bottom: 25px !important;
}
.margin-bottom-50px {
  margin-bottom: 50px !important;
}
.margin-bottom-30px {
  margin-bottom: 30px !important;
}
.margin-bottom-20px {
  margin-bottom: 20px !important;
}
.margin-bottom-15px {
  margin-bottom: 15px !important;
}
.margin-bottom-10px {
  margin-bottom: 10px !important;
}
.space-r {
  margin-right: 15px;
}
.space-l {
  margin-left: 15px;
}
.order-box, .plan-container {
  margin: 0 -25px 25px;
  padding: 0 25px 25px;
  border-bottom: 1px solid var(--color-borde);
}
.order-box:last-child, .user-currencies .order-box:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.order-item:last-child, .order-total-item.flex:last-child {
  margin-bottom: 0;
}
.order-item_image {
  flex: 0 0 10%;
  margin-right: 20px;
}
.order-item_image img {
  display: block;
  border-radius: 10px;
}
.order-item_name {
  flex: 0 0 40%;
}
a.order-item_name {
  color: var(--morado-oscuro);
}
span.text-dec {
  text-decoration: underline;
}
.order-item_sub {
  flex: 0 0 25%;
  padding-left: 10px;
}
.order-item_total {
  flex-grow: 1;
  text-align: right;
}
span.order-qty {
  margin-left: 10px;
}
.edit-item {
  margin-left: 10px;
  color: var(--morado-oscuro);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.no-justify {
  justify-content: normal;
}
.inline-flex {
  display: inline-flex;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.order-total-item.flex {
  margin-bottom: 15px;
}
.order-container .flex {
  align-items: center;
}
.order-box.flex.order-actions {
  justify-content: flex-end;
}
.totals-subtotal {
  display: flex;
  align-items: center;
}
span.remove-fee {
  margin: -5px -7px 0px 4px;
  cursor: pointer;
  color: var(--morado-oscuro);
  display: flex;
  float: right;
}
span.remove-fee svg {
  font-size: 28px;
}
.order-item:last-child, .order-total-item.flex:last-child {
  margin-bottom: 0;
}
.order-total-item.order-total-total.flex, .order-total-item.order-total-total.flex span.price-amount.amount {
  font-weight: 600;
}
.order-box h3 {
  margin: 0;
}
.h3-borde {
  margin: 0 -25px 13px !important;
  padding: 0 25px 10px;
  border-bottom: 1px solid var(--color-borde);
}
.order-container p, .subs-inf-box p:last-child {
  margin: 0;
}
.details-head h3, a.order-link, .order-details p {
  margin-bottom: 10px;
  display: block;
}
.payment-title {
  display: flex;
  align-items: center;
}
.payment-title img {
  width: 43px;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid var(--color-borde);
  margin-right: 10px;
}
.payment-expire {
  color: var(--placeholder-color);
}
.ant-modal {
  border-radius: 15px !important;
}
.ant-modal-content {
  border-radius: 15px !important;
}
.ant-modal-header {
  margin-bottom: 30px !important;
}
.ant-modal-title {
  color: var(--azul-oscuro) !important;
}
.ant-modal-close-x {
  background-color: #F6F6F6;
  padding: 4px;
  border-radius: 10px;
  color: var(--azul-oscuro);
  position: absolute;
  top: 0px;
  right: 7px;
  height: 38px;
}
.ant-modal-close-x:hover {
  background-color: var(--violeta-claro);
  color: var(--morado-oscuro);
}
button.ant-modal-close:hover {
  background-color: transparent !important;
}
.ant-modal-close-x svg {
  font-size: 30px !important;
}
.ant-btn span {
  padding-top: 4px;
}
.subs-inf-box .subs-action {
  margin: 0 0 20px;
  color: var(--morado-oscuro);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.subs-inf-box .subs-action:hover {
  color: var(--violeta)
}
.subs-inf-box .subs-action:last-child {
  margin-bottom: 0;
}
.subs-action svg {
  font-size: 23px;
  margin: -4px 6px 0px 0px;
}
.subs-action svg.icon-trash, .subs-action svg.icon-pencil, .subs-action svg.icon-calendar,
.subs-action svg.icon-personbook {
  width: 16px;
  margin: -4px 9px 0px 4px;
}
.add-select-addons label {
  color: var(--azul-oscuro);
  margin: 10px 0 6px;
  display: block;
  font-weight: 500;
}
.ant-modal-content input, .ant-modal-content select, .formularios input, .formularios select {
  width: 100%;
  background-color: var(--input-bg);
  border: var(--input-border);
  border-radius: var(--input-radius);
  height: var(--input-height);
  color: var(--azul-oscuro);
  padding: var(--input-padding);
  margin-bottom: 10px;
}
.space-r {
  margin-right: 15px;
}
.strong {
  font-weight: 500;
}
.add-charge.link {
  color: var(--morado-oscuro);
  display: flex;
  cursor: pointer;
}
.add-charge.link:hover {
  color: var(--violeta);
}
.add-charge.link svg {
  width: 15px;
  margin-right: 6px;
}
.flex input:first-child, .flex select:first-child {
  margin-right: 5px;
}
.flex input:last-child, .flex select:last-child {
  margin-left: 5px;
}
.ant-modal-footer {
  text-align: right !important;
  display: flex;
  justify-content: flex-end !important;
  margin-bottom: 10px;
}
.edit_items-list {
  margin-bottom: 22px;
}
.edit_items-list .order-item {
  border-bottom: 1px solid var(--color-borde);
  margin: 0 -20px;
  padding: 10px 20px;
}
.edit_items-list .order-item_name {
  flex: 0 0 35%;
}
.order-item_unit-price, .order-item_qty {
  flex: 0 0 20%;
  margin: 0 10px;
}
.order-item_total {
  flex-grow: 1;
  text-align: right;
}
.edit_items-list span.text-dec {
  text-decoration: none;
}
.edit_items-list_delete svg {
  font-size: 25px;
  margin-left: 2px;
  color: var(--morado-oscuro);
  cursor: pointer;
}
.edit_items-list input {
  margin: 0;
}
.edit-select-products {
  width: 40%;
  margin-bottom: -60px;
}
span.acc-label {
  flex: 0 0 200px;
  font-weight: 500;
  font-size: var(--font-size-16px);
}
.guardar_dir_edit_subs_bill {
  width: 100%;
  margin-bottom: 10px;
}
.order-box-container.payment-history {
  margin-bottom: 30px;
}
.payment-history.subs-inf-box h3, .t-order-notes.subs-inf-box h3 {
  margin-bottom: 10px !important;
}
.history-filter-titles {
  margin: -10px -25px 10px;
  padding: 10px 25px;
  background-color: var(--violeta-claro);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.history-filter-titles span {
  font-size: var(--font-size-15px);
  padding: 4px 16px;
  cursor: pointer;
  flex: 0 0 auto;
}
.sh_active_filter {
  background-color: white;
  box-shadow: var(--shadow-empezar);
  border-radius: 8px;
  font-weight: 500;
  display: block;
}
.tabla-simple .ant-table-thead>tr>th, .tabla-simple .ant-table-tbody>tr>td {
  padding: 8px 6px;
}
.tabla-simple .ant-table-tbody>tr>td {
  border-bottom: 1px solid var(--color-borde) !important;
}
.tabla-simple .ant-table-thead>tr>th, .tabla-simple .ant-table-tbody>tr:last-child>td {
  border-bottom: none !important;
}
.tabla-simple .ant-table-thead>tr>th:last-child, .tabla-simple .ant-table-tbody>tr>td:last-child {
  text-align: right;
}
.tabla-simple .ant-table-cell.estado span {
  margin-left: 0px;
}
.tabla-simple td.ant-table-cell a {
  text-decoration: none;
}
.tabla-simple .ant-table-row:hover, .tabla-simple tr.ant-table-row:hover>td, .tabla-simple .ant-table-row:nth-child(odd) {
  background-color: #fff !important;
}
.tabla-simple .ant-table-tbody >tr >td {
  cursor: initial;
}
.ch-empty {
  text-align: center;
  padding: 20px 10px 7px;
}

/* Crear suscripción */
.hover-white:hover {
  background-color: transparent !important;
}
a.flex-no-space.list-item, label.input-radio {
  border-bottom: 1px solid var(--color-borde);
  display: flex;
  align-items: center;
  color: var(--azul-oscuro);
  padding: 15px 20px;
}
a.flex-no-space.list-item:hover, label.input-radio:hover {
  background-color: var(--violeta-claro);
  transition: 100ms;
}
a.flex-no-space.list-item:last-child, label.input-radio:last-child {
  border: none;
}
a.flex-no-space.list-item.active {
  background-color: var(--violeta-claro);
}
label.input-radio input {
  margin: 0px 10px 5px 0px;
}
.flex-grow {
  flex-grow: 1;
}
.customer-list-results {
  max-height: 30vh;
  overflow: auto;
}
.flex-no-space .text {
  flex-grow: 1;
  padding-right: 20px;
}
.create-new-customer {
  padding: 20px 20px 15px;
}
.create-new-customer h4 {
  margin: 10px 0px 20px;
  font-weight: 600;
}
.create-new-customer .input {
  margin-bottom: 10px;
}
.product-list-items {
  max-height: 50vh;
  overflow: auto;
}
.product-list-items img {
  width: 46px;
  display: block;
  margin-right: 10px;
  border-radius: 8px;
}
.product-plan {
  border-bottom: 1px solid var(--color-borde);
}
.product-chk {
  margin-right: 10px;
  margin-top: -4px;
}
.settings-home-container.select-payment.active {
  display: flex !important;
}

/* Settings */
.settings-home-container {
  display: flex;
  margin-bottom: 25px;
}
.settings-home-title {
  flex: 0 0 35%;
  padding-right: 90px;
}
.settings-home-title h3 {
  margin-bottom: 4px;
}
.settings-items {
  flex-grow: 1;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow-empezar);
}
span.settings-item-go {
  display: flex;
}
.settings-container .order-head-paid, .account-appe-container .order-head-paid {
  margin: 0px 0px 25px;
}
.save-footer {
  display: flex;
  box-shadow: 0px 1px 3px 0px #d6d6e6;
  min-height: 55px;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: -100%;
  transition: 0.3s;
  background-color: #9E8DFF;
  color: white;
}
.save-footer.show-footer {
  top: 0;
}
.unsaved {
  flex-grow: 1;
  color: #fff;
  font-size: var(--font-size-22px) !important;
}
.discard a {
  background-color: var(--gris-bg-claro);
  color: var(--gris-oscuro);
  border: 1px solid var(--gris-oscuro);
  margin-right: 40px;
}
.discard a:hover {
  background-color: var(--boton-gris-bg);
}
.add-product a, .save-changes a {
  padding: 0px 180px;
}
.label-flex1 span.acc-label {
  flex-grow: 1 !important;
}
input#substimeframe {
  flex: 1 !important;
}


/* Planes */
.planes .status-filter div, .addons .status-filter div, .productos .status-filter div {
  flex: 0 0 33.333333%;
}
td.ant-table-cell img {
  width: 50px;
  border-radius: 10px;
  margin-right: 15px;
}
td.ant-table-cell.img-tabla {
  display: flex;
  align-items: center;
}
.disponibilidad {
  color: #510B0B;
  font-weight: 500;
}
.disponibilidad.disponible, .color-green {
  color: #0C6A14;
}

/* Add Product */
.choose-type-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 130px);
  justify-content: center;
  align-items: center;
}
.choose-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 1069px;
}
.choose-type_subs {
  flex: 0 0 32%;
  padding: 47px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow-empezar);
  text-align: center;
  color: var(--morado-oscuro);
  box-sizing: border-box;
}
.choose-type_subs:hover {
  background-color: var(--violeta);
  color: #fff;
}
.choose-type-container h2 {
  margin-bottom: 20px;
}
.choose-type_subs h3 {
  margin: 14px 0px 20px;
  color: var(--morado-oscuro);
}
.choose-type_subs p {
  margin-bottom: 0px;
  color: var(--morado-oscuro);
}
.choose-type_subs:hover h3, .choose-type_subs:hover p {
  color: #fff;
}
.choose-type_subs svg {
  font-size: 24px;
}

/* Agregar Nuevo */
.agregar-nuevo .order-head {
  margin-bottom: 25px;
}
.order-box-container p:last-child {
  margin-bottom: 0px;
}
.agregar-nuevo .order-actions {
    text-decoration: underline;
}
.plan-container-all p.app-input {
  flex-direction: column;
  align-items: start;
}
.nuevo-addon .plan-container-all p.app-input {
  flex-direction: row;
  align-items: center;
}
.plan-container-all label {
  margin-bottom: 8px;
}
.tabla-codigo {
  width: 100%;
}
.tabla-codigo th, .tabla-codigo td {
  text-align: left;
  padding: 5px 5px;
  width: 33%;
}
.tabla-codigo th {
  font-weight: 500;
}
.tabla-codigo td span {
  display: block;
}
.plan-container-all p.app-input .flex {
  width: 100%;
  align-items: center;
}
a.mas-opciones {
  display: flex;
}
a.mas-opciones svg {
  margin-left: 10px;
}
a.mas-opciones svg.hidden.flex {
  display: block !important;
}
.additional_options_cont {
  margin-top: 25px;
}
.additional_options_cont label {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.ant-tooltip-inner {
  color: var(--azul-oscuro) !important;
  box-shadow: 0px 1px 3px 0px #d6d6e6;
}
.additional_options_cont svg {
  margin: 2px 0px 0px 6px;
  font-size: 14px;
  cursor: pointer;
}
.ant-tooltip, .ant-tooltip-inner {
  min-width: 328px !important;
}
.ant-tooltip-inner {
  padding: 20px !important;
  border-radius: 10px !important;
  box-shadow: 0px 1px 3px 0px #d6d6e6 !important;
}
.ant-tooltip .ant-tooltip-arrow::after {
  box-shadow: 0px 0px 2px 0px #d6d6e6 !important;
}
.ant-tooltip-inner span {
  margin-bottom: 15px;
  display: block;
  font-weight: 600;
}
span.row2 select, span.row2 {
  width: 100%;
}
.additional_options_cont span.row1 {
  display: flex;
}
span.row2.input.hidden.flex {
  display: flex !important;
}
.trial_day_togg-cont {
  margin-top: 14px;
}
.trial_day_togg-cont a {
  text-decoration: underline;
}
span.trial_day_txt {
  margin-left: 10px;
  width: 50%;
}
.new-product-col2 span.acc-label {
  flex: 0 0 100px;
}
.front-image-place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-bg-claro);
  border-radius: 10px;
  border: 1px solid var(--color-borde);
}
.front-image-place:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}
.product-gallery-show {
  margin-top: 15px;
  overflow: auto;
  flex-wrap: nowrap;
  display: flex;
}
label.gallery-image-place, .img-gallery-img {
  margin-right: 10px;
}
.gallery-image-place {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gris-bg-claro);
  border-radius: 10px;
  border: 1px solid var(--color-borde);
  flex: 0 0 25%;
  margin-bottom: 7px;
}
label.gallery-image-place:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.front-image-upload:nth-child(1) {
  margin: 20px 0px 14px;
}
span.radio-buttons-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
span.radio-buttons-container span.checkmark {
  border-radius: 100%;
  top: -3px;
}
span.radio-buttons-container .check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 9px;
}
span.radio-buttons-container label.check-container {
  text-decoration: none;
  margin-bottom: 15px;
}
span.radio-buttons-container label.check-container:last-child {
  margin-bottom: 0px;
}
.h3-borde.margin-bottom {
  margin-bottom: 24px !important;
  padding-bottom: 16px;
}
p.app-input.radio-buttons {
  align-items: unset;
}
.agregar-nuevo .order-action {
  margin-left: 0px;
}
.agregar-nuevo .status-style {
  margin: -6px 40px 0px;
}

/* Productos */
.order-box-container.plan-container-all.product-box_plan {
  position: relative;
}
a.edit-plan {
  position: absolute;
  right: 25px;
  text-decoration: underline;
}
span.planinfo-label {
  width: 120px;
  display: block;
  float: left;
}
.url-code-box-container {
  position: relative;
}
.url-code-box {
  background-color: var(--input-bg);
  border-radius: var(--input-radius);
  padding: var(--input-padding);
  margin-top: 10px;
  font-size: var(--input-font-size);
  min-height: 30px;
  line-height: 26px;
}
.url-code-box-container span.t_blue {
  color: #00f;
  word-break: break-all;
}
span.t_red {
  color: red;
}
.copy-code {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0px, -50%);
  visibility: hidden;
}
.url-code-box-container:hover .copy-code {
  visibility: visible;
}

/* Cupones */
.cupones .plist-filter-container {
  flex: 0 0 30%;
}
.cupones .plist-avail {
  width: 100%;
  flex-grow: 1;
  margin-left: 15px;
  padding-right: 0;
}
.cupones .plist-but.plist-but-filter {
  flex-grow: initial;
}
.style-check label.check-container {
  text-decoration: none;
  font-weight: normal;
}
.coupon-summary.new-product-col2 span.acc-label {
  flex: 0 0 120px;
}

/* Cuenta */
.settings-head {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
.my-account-container a.settings-head-item {
  flex: 0 0 50%;
}
a.settings-head-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Billing - Facturación */
p.current-period {
  margin-top: 4px;
}
.your-balance {
  color: #0C6A14;
  font-size: var(--font-size-28px);
  padding-top: 6px;
}
.billing-balance svg {
  color: var(--violeta);
  font-size: 18px;
  margin: 0px 4px -3px 0px;
}
.history-item {
  margin-bottom: 15px;
}
.exp-wrapper {
  flex: 0 0 116px;
  justify-content: space-around;
  position: relative;
}
.tcfieldssubs .exp-wrapper:after {
  content: '/';
  position: absolute;
  margin-left: -4px;
  color: var(--placeholder-color);
  top: 11px;
  left: 57px;
  font-size: 22px;
}
.plans-container {
  margin: -10px -10px 0px;
}
.plans-item {
  flex: 1;
  padding: 20px;
  border: 1px solid;
  border-color: var(--color-borde);
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 312px;
  justify-content: space-around;
}
.plans-item h4 {
  font-size: var(--font-size-30px);
  margin: 10px 0px 16px;
  font-weight: 600;
}
span.plan-pricing_currency, span.plan-pricing_period {
  font-size: var(--font-size-18px);
  opacity: 0.6;
}
span.plan-pricing_amount {
  font-size: var(--font-size-30px);
  font-weight: 600;
  margin: 0px 4px;
}
.plan-details {
  text-align: left;
  margin: 20px 0px 30px;
  padding-top: 20px;
  border-top: 1px solid;
  border-color: var(--color-borde);
}
.plan-details-item {
  display: flex;
}
.plan-details-item svg {
  font-size: 24px;
  margin-right: 4px;
  color: var(--morado-oscuro);
}
.plan-details-item span {
  padding-top: 4px;
}
.plan-pricing-transaction {
  margin-top: 10px;
}

/* Cycle - Ciclo */
.order-box-container.cycle-summary h2 {
  font-size: var(--font-size-28px);
  font-weight: 500;
}

/* Account - Cuenta */
.dashboard-summary {
  background-color: var(--violeta);
  margin-bottom: 30px;
  padding: 15px 15px 0px;
  border-radius: 10px;
  box-shadow: 0 1px 12px 0 rgb(0 0 30 / 10%), 0 2px 14px 0 rgb(0 0 30 / 10%);
}
.dashboard-summary-item {
  background-color: var(--morado-oscuro);
  flex: 1;
  margin-left: 12px;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  flex-direction: column;
  color: #fff;
}
.dashboard-summary-item:first-child {
  margin-left: 0;
}
.summary-item_title.flex span {
  color: #fff;
  opacity: 0.8;
}
.summary-item_number {
  font-size: var(--font-size-20px);
  font-weight: 600;
}
.toggle-data {
  text-align: center;
  font-size: 22px;
  color: #fff;
  padding-top: 4px;
}
.toggle-data svg {
  font-size: 24px;
}
.toggle-data svg.up {
  transform: rotate(180deg);
}
.dashboard-summary-col2 {
  margin-top: 15px;
}
.dashboard-first-row {
  flex-wrap: wrap;
}
.dashboard-box {
  width: calc(50% - 10px);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-empezar);
  margin-bottom: 20px;
}
.dashboard-data {
  position: relative;
}
span.data-title {
  margin-right: 9px;
}
span.data-dates {
  margin-left: 5px;
}

/* Configuración de pago */
.noti-management .settings-home-title {
  order: 2;
}
.flex.provider-image-text {
  align-items: center;
  position: relative;
  justify-content: start;
}
.provider-image {
  width: 55px;
}
.order-box-container.active-providers h3.semi {
  margin-left: 20px;
  flex-grow: 1;
}
.provider-status {
  display: flex;
  margin-right: 20px;
}
span.status-circle {
  width: 20px;
  height: 20px;
  display: block;
  margin: -2px 7px 0px 8px;
  border-radius: 100%;
}
span.status-circle.active {
  background-color: #17CF26;
}
span.status-circle.inactive {
  background-color: red;
}
.payment-gateways img {
  display: block;
  width: 100px;
  margin: auto;
  max-height: 30px;
  object-fit: contain;
}
.payment-gateways .flex-no-space.list-item a, .payment-gateways .flex-no-space.list-item div {
  width: 20%;
}
.g-rates {
  text-align: center;
}
.gmanage {
  text-align: right;
}
.payment-gateways .provider-status {
  justify-content: center;
  margin: 0;
}
img.img-small {
  display: block;
  width: 70px;
  margin-left: -10px;
}
p.app-input.hidden.active {
  display: flex !important
}
.desactivar-pasarela {
  text-align: center;
}
.desactivar-pasarela svg {
  font-size: 70px;
  margin: 20px 0px 16px;
  color: var(--morado-oscuro)
}
.desactivar-pasarela h3 {
  margin-bottom: 20px;
  font-size: var(--font-size-22px) !important;
}
.desactivarPasarela .ant-modal-footer, .desactivarPlantilla .ant-modal-footer {
  justify-content: center !important;
}
.desactivarPasarela button.ant-modal-close, .desactivarPlantilla button.ant-modal-close {
  display: none;
}
span.routing-if {
  margin-right: 20px;
  min-width: 64px;
}
span.routing-use {
  margin-right: 20px;
}
a.link.edit-schedule-template {
  margin-right: 10px;
}
.desactivarPlantilla svg {
  color: #f8bb86;
}
.settings-box .acc-label {
  margin-right: 55px;
}
.weight-normal {
  font-weight: 400 !important;
}
.settings-box .app-input {
  align-items: unset;
}
.user-currencies .order-box {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.s_p_container {
  position: relative;
}
.s_p_value span {
  color: var(--morado-oscuro);
  font-weight: 500;
}
.s_p_value svg {
  margin: 0px 0px -4px 5px;
  color: var(--morado-oscuro);
}
.s_p_edit {
  position: absolute;
  background-color: white;
  min-width: 200px;
  padding: 15px 10px;
  box-shadow: var(--sombra-fuerte);
  border-radius: 8px;
  right: 0;
  z-index: 1;
}
.s_p_edit span.semi-text {
  font-size: var(--font-size-15px);
  margin-bottom: 8px;
  display: block;
}
.input-container {
  display: flex;
}
.input-container_two input:first-child, .input-container_two select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-container_two input:last-child, .input-container_two select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.missing_field {
  background-color: #fce8e5;
  border-top: 2px solid #ed6347;
  margin-top: 10px;
  padding: 5px 8px 2px;
}
.missing_field svg {
  color: #ed6347;
  margin: 0px 10px -2px 0px;
  font-size: 14px;
}

/* Facturación */
input#factura_expiration_custom {
  width: 60px;
  text-align: center;
  margin-right: 10px;
}
.settings-box {
  margin: 20px -24px 0px;
  padding: 20px 24px 0px;
  border-top: 1px solid var(--color-borde);
}
.settings-box:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}
.flex.provider-image-text {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  justify-content: start;
}

/* Monedas */
.no-multi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 195px;
  max-width: 400px;
  margin: auto;
}

/* Envíos */
.shipping-head {
  display: flex;
  align-items: center;
}
.shipping-head a {
  margin-left: 30px
}
.shipping-zones-table {
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
}
.zone-table-row, .zone-table-head {
  display: flex;
  padding: 0 30px;
  flex-flow: row wrap;
  align-items: center;
}
.zone-head-item {
  padding: 15px;
}
.zone-head-item.table-zone-name {
  flex: 0 0 20%;
}
.zone-head-item.table-zone-region {
  flex: 0 0 40%;
}
.zone-head-item.table-zone-method, .zone-head-item.table-zone-price, .zone-head-item.table-zone-active {
  flex: 0 0 13.33333%;
}
.zone-table-row:nth-child(even) {
  background-color: var(--gris-bg-claro);
}
.settings-head {
  box-sizing: border-box;
  text-align: center;
}
a.settings-head-item {
  flex: 0 0 16.6666667%;
}
.shipping-zone-container span.globito {
  position: absolute;
  top: 8px;
  left: 70px;
}
.shipping-zone-container span.globito svg {
  font-size: 18px;
}
span.globito-text {
  visibility: hidden;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  left: 50%;
  text-align: center;
  top: -100px;
  transform: translate(-50%, 0);
  border-radius: 8px;
  box-shadow: var(--shadow-empezar);
  padding: 10px;
}
.shipping-zone-container .globito-text {
  top: -35px;
}
.globito-cont:hover .globito-text {
  visibility: visible;
}
.delete-style {
  text-align: right;
}

/* Integraciones */
.label-text-admin .strong {
  flex: 0 0 140px;
  margin-right: 40px;
}
.label-text-admin .flex .text {
  flex-grow: 1;
  padding-right: 20px;
}
.usefull-links {
  margin-top: 40px;
}

/* Estilos de marca */
span.label-desc {
  display: block;
  color: var(--gris-oscuro);
}
.business-logo-show {
  flex: 0 0 120px;
  background-color: white;
  border-radius: 50%;
}
.business-logo-show img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--color-borde);
  object-fit: cover;
}
p.image-choose {
  margin: 0;
  flex-grow: 1;
  padding-left: 40px;
  flex-wrap: wrap;
}
label.choose-image {
  margin: 0px 10px 10px 0px;
}
input#colorpicker {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
}
input#hexcolor {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
select#wacountry, select#phonecountry {
  flex-grow: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
input#buwha, input#buphone {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
select#phonecountry, select#wacountry {
  width: auto;
}
.align-right {
  text-align: right;
}

/* Notificaciones */
.settings-emails p.app-input {
  align-items: start;
}
.settings-emails span.acc-label {
  flex: 0 0 30%;
  max-width: 300px;
}
span.acc-label-sub {
  display: block;
  padding-right: 20px;
}
.t_email-cont * {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
  letter-spacing: 0px;
  font-size: 14px;
}
.t_email-logo {
  width: 520px;
  display: flex;
  align-items: center;
  margin: 40px auto 20px;
}
.t_email-logo img {
  width: 30px;
  margin-right: 15px;
}
span.t_email-logo_text {
  font-weight: 500;
  font-size: 18px;
  padding-top: 6px;
}
.t_email-cont {
  width: 514px;
  padding: 20px;
  border: 1px solid var(--color-borde);
  border-radius: 10px;
  margin: 0px auto 20px;
}
.t_email-small {
  color: #7a7a7a;
}
.t_email-small, .t_email-semi {
  font-weight: 500;
}
.t_email-small svg {
  font-size: 24px;
  margin: 0px 0px -7px;
}
.t_email-big {
  font-size: 36px;
  font-weight: 600;
  padding: 20px 0px 30px;
}
.t_email-med {
  font-size: 26px;
  font-weight: 600;
  padding: 0px 0px 20px;
}
.t_email-border {
  border-top: 1px solid var(--color-borde);
  margin: 15px 0px;
}
.t_email-border.pago {
  margin: 22px 0px 26px;
}
.t_email-from {
  padding: 20px 0px;
}
.t_email-from div span:first-child {
  width: 50px;
  display: inline-block;
  color: #7a7a7a;
}
.t_email-lbutton {
  padding: 11px 0px 34px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.t_email-lbutton.pago {
  margin: 26px 0px;
}
.soporte, .soporte a {
  font-size: 13px;
}
.t_email-semi.flex img {
  width: 40px;
  border: 1px solid var(--color-borde);
  background-color: #fff;;
  border-radius: 4px;
  padding: 4px;
  margin: -3px 20px 0px 0px;
}
.metodo-pago {
  background-color: #F9F9F9;
}
.direccion {
  font-style: italic;
}

/* Página de pago - Checkout */
.self-serve-portal .new-product-col1 {
  flex: 0 0 50%;
}
.width50 {
  width: 50% !important;
}
.radius-left0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin: 0px !important;
}

/* Api */
.api-keys div {
  flex: 0 0 49%;
}
.toggle-password {
  position: absolute;
  top: 11px;
  right: 18px;
}

/* webhooks */
.wh-name {
  margin-right: 40px;
}
.wh-url {
  flex-grow: 1;
  padding-right: 20px;
}

/* Treli tienda */
.account-appe-col1 {
  width: calc(100% - 450px);
}
.account-appe-col2 {
  position: fixed;
  right: 4%;
  width: calc(29% - 0px);
  max-width: 370px;
  top: 120px;
}
.business-cover-container .boton-border {
  display: inline-block;
}
.business-cover-container .boton-border {
  display: inline-block;
  line-height: 30px;
}
.business-cover-container p.image-choose {
  text-align: right;
}
.business-cover-container label.choose-image {
  margin: 8px 0px 0px;
}
.prev-container {
  border: 10px solid var(--azul-oscuro);
  border-radius: 25px;
  box-shadow: 0px 0px 25px 5px rgb(34 29 63 / 50%);
  background-color: white;
}
.prev-cover label.cover-empty {
  box-shadow: none;
  border-radius: 0;
  height: 100px;
}
.prev-cover img {
  border-radius: 13px 13px 0px 0px;
}
.prev-logo {
  text-align: center;
}
.prev-logo img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
  height: 100px;
  object-fit: cover;
  margin-top: -40px;
  background-color: white;
}
.prev-busname {
  font-size: var(--font-size-22px);
  text-align: center;
  margin-top: 10px;
}
.prev-description {
  padding: 0 10px;
  text-align: center;
  margin-top: 10px;
}
.prev-subs, .prev-onetime {
  flex: 0 0 50%;
  text-align: center;
  padding-bottom: 10px;
}
.prev-subs {
  border-bottom: 3px solid var(--morado-oscuro);
}
.prev-row5 {
  padding: 0 10px 46px;
}
.prev-row5-item {
  padding: 5px;
}
.row5-img {
  flex: 0 0 37%;
}
.row5-img img {
  border-radius: 8px;
}
.row5-info {
  flex-grow: 1;
  margin-left: 15px;
}
.row5-desc, .row5-price {
  font-size: 14px;
}
.row5-but {
  border-radius: 50px;
  margin-top: 5px;
}